<div class="row align-items-center">
    <div class="col">
        Messages
    </div>
    <div class="col">
        <div class="mt-2 d-grid gap-2 d-md-flex justify-content-md-end">
            @* <a class="btn btn-primary" data-bs-toggle="ajax-modal" data-bs-target="#modal-create" onclick="creating()"> *@
            @*     <i class='bx bx-plus'></i><span class="nav_name">New item</span> *@
            @* </a> *@
        </div>
    </div>
</div>