<div class="row align-items-center">
    <div class="col">
        Groups
    </div>
    <div class="col">
        <div class="mt-2 d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="#" class="btn btn-primary" onclick="creating()">
                <i class='bx bx-plus'></i> <span class="nav_name">Add</span>
            </a>
        </div>
    </div>
</div>