@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject RoleManager<IdentityRole> roleManager;
@{
    var user = await UserManager.GetUserAsync(User);
}

@model IEnumerable<Notification>

@{
    Layout = "_Layout";
    int count = 1;
}

<div class="row p-3">
    <div class="card p-3">
        <h5 class="card-header">
            @{
                await Html.RenderPartialAsync("PartialViews/PanelIndexPartialView");
            }
        </h5>
        <div class="card-body">
            <table class="table table-hover">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Message</th>
                    <th scope="col">Event</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr data-row=">@item.Id">
                        <th scope="row">@count</th>
                        <td>
                            <a class="btn link-primary p-0" data-bs-toggle="ajax-modal" data-bs-target="#modal-details" onclick="previewing('@item.Id')">@item.Message</a>
                        </td>
                        <td>@item?.EventId</td>
                        <td>
                            @{ await Html.RenderPartialAsync("PartialViews/ActionsPartialView", item); }
                        </td>
                    </tr>
                    count++;
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- The previewing modal -->
<div id="placeholder-modal-create"></div>

<!-- The previewing modal -->
<div id="placeholder-modal-details"></div>

<!-- The deleting modal -->
<div id="placeholder-modal-delete"></div>

<!-- The editing modal -->
<div id="placeholder-modal-edit"></div>

@section Scripts
{
    <script src="~/js/notifications.js" asp-append-version="true"></script>
}