@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@* @{ *@
@*     var user = await UserManager.GetUserAsync(User); *@
@* } *@

@model GroupDetailsViewModel
@{
    ViewBag.Title = "Preview";
    Layout = "_Layout";
}
<div class="modal-dialog modal-lg p-5">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalDetailsLabel">@ViewBag.Title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row mb-3">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" id="Name">
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control" id="Description"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
</div>