@using AutoMapper
@using NotifyMe.Core.Interfaces.Services;
@inject IMapper Mapper;
@inject IGroupService GroupService;
@model List<GroupIndexViewModel>

@{
    Layout = "_Layout";
    int count = 1;
}

<div class="card">
    <h5 class="card-header">
        @{
            await Html.RenderPartialAsync("PartialViews/PanelIndexPartialView");
        }
    </h5>
    <div class="card-body">
        <table class="table table-hover">
            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr data-row=">@item.Id">
                    <th scope="row">@count</th>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>
                        @{ await Html.RenderPartialAsync("PartialViews/ActionsPartialView", item); }
                    </td>
                </tr>
                count++;
            }
            </tbody>
        </table>
    </div>
</div>

<!-- The previewing modal -->
<div id="placeholder-modal-create"></div>

<!-- The previewing modal -->
<div id="placeholder-modal-details"></div>

<!-- The deleting modal -->
<div id="placeholder-modal-delete"></div>

<!-- The editing modal -->
<div id="placeholder-modal-edit"></div>

@section Scripts
{
    <script src="~/js/group.js" asp-append-version="true"></script>
}